@import url('https://fonts.googleapis.com/css?family=Crimson+Text|El+Messiri&display=swap');

*{
    --main-theme-color: rgb(59, 19, 13);
    font-family: 'Crimson Text';
}

div{display: flex;}

a[href*="index.html"]
{
    color:var(--main-theme-color);
    cursor:pointer;
    box-sizing: border-box;
}

html{
    padding: 24pt;
    background-color: #948f72;
    background-image: url("Resources/images/forest-1109180_1280.jpg");
    background-size:cover;
    background-blend-mode: soft-light;
    color: var(--main-theme-color);
}

body{
    margin:unset;
}

.content{
    flex-direction: column;
    align-items: center;
}

.row
{
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    border: yellow;
    border-style: dotted;
}

.title1
{
    height:auto;
    font-size: 5em;
    font-weight: 400;
    text-decoration:none;
    cursor:default;
    width:fit-content;
    margin-top:-50px;
}

.title2
{
    display:block;
    width:75%;
    font-size: 1em;
    font-weight: 400;
    letter-spacing:12pt;
    padding: 6pt 30pt;
    margin:12px auto;
    border:6px;
    border-style: double none double none;
    cursor:default;
}

/* Home page items*/

.button-table{
    flex-wrap: wrap;
    max-width:1080px;
}

.button-link{
    background: rgba(255, 255, 255, 0.123);
    cursor:pointer;
    min-width: 350px;
    padding:5pt 0pt;
    margin:12pt 12pt;
    font-size: 2em;
    border: 6px double;
    text-decoration:none;
    color:var(--main-theme-color);
}

.button-link:hover
{
    background: rgba(245, 245, 245, 0.43);    
}

.content, .button-table, html, .card-grid
{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

.title1, .title2, .button-link
{
    display:inline_block;
    text-align:center;
}

/* Map page Items*/

.worldanvil-map
{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    border:11px;
    border-style:double;
    width:95vw;
    height:68vh;
}

/* Character page Items*/

.card-grid
{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

.flipcard
{
    padding:6px;
    width:200px;
    height:250px;
    cursor:pointer;
}

/* Upgrade Page Items */

.upgradeContainer
{
    border: black;
    border-style: dotted;
    margin: 8px;
}

.upgradeIcon
{
    border: blue;
    border-style: dotted;
    width: 20vw;
    height: width;
}

.upgradeHeadInfo
{
    flex-direction: column;
    flex-grow: 1;    
}

.upgradeHeadInfo > div
{    
    border: green;
    border-style: dotted;
    height:33%;
}

.upgradeName
{
    display: inline-block;
    text-align: left;
    font-size: 18px;
    padding:12px;
}

.bar
{   
    display: inline-block;
    height:100%;
    width:75%;
    background-color: yellow;
}

.barBase
{
    display: inline-block;
    height:100%;
    width:100%;
    background-color: rgba(238, 255, 0, 0.123);
    font-size: 2em;
    text-align: center;
}
