@import url('https://fonts.googleapis.com/css?family=Crimson+Text|El+Messiri&display=swap');
*{
    --main-theme-color: rgb(66, 23, 15);
    /* --position-ref: auto; */
    font-family: 'Crimson Text', 'serif';
}
html,body
{
    margin: unset;
    display: flex;
    justify-content: center;
    min-width: 400px;
    background-color: #948f72;
    background-image: url("Resources/images/forest-1109180_1280.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    color: var(--main-theme-color);
}

.content{
    display:flex;
    flex-direction: column;
    margin: var(--position-ref) auto;
    align-items: center;
}

.title1
{   
    display: block;
    width: 100%;
    padding: 8pt 0pt;
    text-align: center;
    font-size: 8em;
    font-weight: 900;
}

.title2
{
    display: block;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    letter-spacing:16pt;
    padding: 8pt 20pt;
    border: 8px;
    border-style: double none double none;
}

.buttonTable{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 26pt;
    max-width: 100%;
}

.buttonLink{
    display: inline-block;
    text-align: center;
    background: rgba(255, 255, 255, 0.123);
    cursor:pointer;
    border: 16px double;
    min-width: 500px;
    padding:5pt 10pt;
    margin:12pt 12pt;
    font-size: 3em;
}

.buttonLink:active
{
    background: rgba(245, 245, 245, 0.43);    
}