@import url('https://fonts.googleapis.com/css?family=Crimson+Text|El+Messiri&display=swap');

*{
    --main-theme-color: rgb(59, 19, 13);
    --position-ref: auto;
    font-family: 'Crimson Text';
    margin: 8pt;    
}

html{
    min-width: 100vw;
    background-color: #948f72;
    background-image: url("Resources/images/forest-1109180_1280.jpg");
    background-size:cover;
    background-blend-mode: soft-light;
    color: var(--main-theme-color);
}

.content{
    flex-direction: column;
    margin: var(--position-ref) auto;
    align-items: center;
}

.title1
{
    margin:12px;
    font-size: 6em;
    font-weight: 400;
    text-decoration:none;
    cursor:default;
    width:fit-content;
}

.title2
{
    width:75%;
    font-size: 1em;
    font-weight: 400;
    letter-spacing:12pt;
    padding: 6pt 30pt;
    margin-bottom:12px;
    border:6px;
    border-style: double none double none;
    cursor:default;
}

.button-table{
    flex-wrap: wrap;
    max-width:1080px;
}

.button-link{
    background: rgba(255, 255, 255, 0.123);
    cursor:pointer;
    min-width: 350px;
    padding:5pt 0pt;
    margin:12pt 12pt;
    font-size: 2em;
    border: 6px double;
    text-decoration:none;
    color:var(--main-theme-color);
}

.button-link:hover
{
    background: rgba(245, 245, 245, 0.43);    
}

.content, .button-table, html, .worldanvil-map, .card-grid
{
    display:flex;
    justify-content: center;
}

.title1, .title2, .button-link
{
    display:inline_block;
    text-align:center;        
}

.worldanvil-map
{
    border:12px;
    border-style:double;
    width:92vw;
    height:80vh;
}

.card-grid
{
    flex-wrap:wrap;
    width:100vw;
    max-width:1200px;
}

.flipcard
{
    width:350px;
    cursor:pointer;
    margin:12px;
}

a[href*="index.html"]
{
    color:var(--main-theme-color);
    cursor:pointer;
}
